/* 
@Filename:starbucks/css/main.css
@Author: 송웅규
@Description: starbucks 클론 코딩 <main> 하위 요소 css파일
*/
main {
    width: 100%;
    height: auto;
    background-color: #eee;
    font-family: 'Nanum Barun Gothic';
}

.main-banner {
    width: 100%;
    height: 646px;
    background-color: #d1131d;
    background-image: url(../img/main_bg_left.png), url(../img/main_bg_right.png);
    background-repeat: no-repeat;
    background-position: left 366px bottom 0px, right 444px top 0px;
    background-size: 348px 150px, 243px 84px;
}

.main-wrap {
    width: 1080px;
    margin: auto;
    height: 100%;
    background-image: url(../img/main_logo.png);
    background-repeat: no-repeat;
    background-position: top 54px left -2px;
    position: relative;
}

.main-wrap>a {
    display: block;
    width: 125px;
    height: 34px;
    background-color: #ffffff00;
    border-radius: 5px;
    border: solid 2px white;
    text-align: center;
    line-height: 34px;
    color: white;
    position: absolute;
    top: 226px;
    left: 98px;
    font-size: 15px;
    opacity: 0;
    transition: background-color 0.5s, opacity 0.7s;
}

.main-wrap>a:hover {
    text-decoration: underline;
    background-color: rgba(216, 216, 216, 0.356);
}

.main-wrap .main-content {
    display: flex;
    justify-content: flex-end;
    height: 587px;
    margin-right: -42px;
    align-items: flex-end;
}

.main-content .main-img:nth-child(1) img {
    margin-right: -144px;
}

.main-content .main-img:nth-child(2) img {
    margin-right: -67px;
    margin-bottom: 16px;
}

.main-content .main-img {
    opacity: 0;
    transition: opacity 0.7s;
}

.line-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 62px;
}

.line-banner .line-notice {
    background-color: #111;
    width: 1046px;
    height: 62px;
    display: flex;
    justify-content: flex-end;
}

.line-banner .line-notice .notice-inner {
    height: 62px;
    display: flex;
    width: 654px;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.line-banner .line-notice .notice-inner h3 {
    width: 90px;
    height: 62px;
    background-image: url(../img/notice_title.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -99999px;
}

.line-notice .notice-inner ul {
    width: 475px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: relative;

}

.line-notice .notice-inner ul li {
    width: 475px;
    color: white;
    font-size: 14px;
    display: none;
    height: 24px;
    line-height: 24px;
    transition: transform 0.5s;
    background-color: #111;
    position: absolute;
    top: -24px;

}

.line-notice .notice-inner ul .line-notice-active {
    display: block;
    top: 0px;
}

.line-notice .notice-inner ul .line-notice-active:hover {
    text-decoration: underline;
}

.line-notice .notice-inner>a {
    display: block;
    width: 78px;
    height: 62px;
    background-image: url(../img/notice_btn.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
}

.line-banner .line-promotion {
    background-color: #f6f5ef;
    width: 866px;
    height: 62px;
}

.line-banner .promotion-inner {
    width: 550px;
    height: 62px;
    display: flex;
    align-items: center;
    margin-left: 202px;
    gap: 50px;
}


.line-banner .promotion-inner>a {
    display: block;
    width: 78px;
    height: 62px;
    background-image: url(../img/promo_btn.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
}


.line-banner .promotion-inner h3 {
    width: 129px;
    height: 17px;
    background-image: url(../img/promo_title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 129px 17px;
    text-indent: -99999px;
}

.reward-banner {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #1e3932;
    height: 170px;
}

.reward-wrap {
    width: 1080px;
    height: 170px;
    margin: auto;
    display: flex;
}

.reward-logo {
    width: 256px;
    background-image: url(../img/rewards_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 176px auto;
}

.reward-inner {
    width: 780px;
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 1.4;
}

.reward-inner>hr {
    width: 100%;
    border: none;
    border-bottom: solid 1px #4b615b;
    margin-bottom: 22px;
}

.reward-inner>div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.reward-btn {
    display: flex;
    gap: 10px;
}

.reward-btn>a:hover {
    text-decoration: underline;
}

.reward-inner-top .reward-btn {
    margin-bottom: 10px;
}

.r-join-btn {
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 89px;
    line-height: 34px;
    height: 34px;
    border: 2px solid #00704a;
    color: white;
    background-color: #00704a;
    font-size: 14px;
}

.r-login-btn {
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 76px;
    line-height: 34px;
    height: 34px;
    border: 2px solid #ffffff;
    color: white;
    background-color: #ffffff00;
    font-size: 14px;
}

.r-gift-btn {

    display: block;
    border-radius: 5px;
    text-align: center;
    width: 175px;
    line-height: 34px;
    height: 34px;
    border: 2px solid #ffffff;
    color: white;
    background-color: #ffffff00;
    font-size: 14px;
}


.reward-inner-top .reward-text h3 {
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.reward-inner-top .reward-text p {
    font-size: 17px;
}

.reward-inner-bottom .reward-text {
    font-size: 14px;
}



.blend-banner {
    width: 100%;
    height: 573px;
    background-image: url(../img/blend-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blend-wrap {
    width: 1080px;
    height: 573px;
    display: flex;
    margin: auto;
    align-items: center;
    align-items: center;
    justify-content: center;

}

.blend-desc {
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-evenly;
}

.blend-desc a {
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 121px;
    line-height: 34px;
    height: 34px;
    border: 2px solid #453d3d;
    color: #453d3d;
    background-color: #ffffff00;
    font-size: 14px;
    transition: all 0.7s;
}

.blend-desc a:hover {
    text-decoration: underline;
    color: white;
    background-color: #453d3d;
}

.news-banner {
    width: 100%;
    height: 400px;
    background-color: #094a3d;
    position: relative;
}

.news-bg {
    width: 100%;
    height: 400px;
    background-image: url(../img/news_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1999px 400px;

}

.news-inner {
    width: 1100px;
    height: 400px;
    margin: auto;
    background-image: url(../img/news_title.png);
    background-repeat: no-repeat;
    background-position: left 0px center;
    position: relative;
    top: -400px;
}

.news-banner a {
    position: absolute;
    top: 257px;
    left: 371px;
    border-color: #d5a012;
    color: #d5a012;
}

.news-banner a:hover {
    background-color: #d5a112;
    color: white;
}

.fav-banner {
    width: 100%;
    height: 800px;
    background-image: url(../img/fav_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.fav-inner {
    height: 100%;
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fav-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 80px;
}

.fav-text>div {
    margin-bottom: 35px;

}

.fav-banner a {
    border-color: white;
    color: white;
}

.fav-banner a:hover {
    background-color: white;
    color: black;
}






.magazine-banner {
    width: 100%;
    height: 400px;
    background-color: white;
    background-image: url(../img/magazine_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: auto 353px;
}

.magazine-inner {
    width: 1100px;
    height: 400px;
    margin: auto;
    background-image: url(../img/magazine_title.png);
    background-repeat: no-repeat;
    background-position: left 55px top 133px;
    position: relative;
}

.magazine-banner a {
    position: absolute;
    top: 262px;
    left: 342px;
    border-color: #000;
    color: #000;
}

.magazine-banner a:hover {
    background-color: #000;
    color: white;
}

.magazine-inner img {
    display: block;
    margin-left: auto;
    margin-top: -2px;
    margin-right: 67px;
}


.store-banner {
    width: 100%;
    height: 400px;
    background-image: url(../img/store_bg.jpg);
}

.store-inner {
    width: 1280px;
    height: 400px;
    margin: auto;
    display: flex;
    background-image: url(../img/store_bg_top.png), url(../img/store_bg_right.png);
    background-repeat: no-repeat;
    background-position: top -60px left 55%, bottom 0 right 30px;
}


.store-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.store-text>* {
    margin-bottom: 10px;

}

.store-img {
    position: relative;
    width: 750px;
}

.store-img>div:first-child {
    position: absolute;
    z-index: 1;
    right: 130px;
    bottom: 20px;

}

.store-img>div:last-child {
    position: absolute;
    left: 160px;
}

.store-banner a {
    border-color: #222;
    color: #222;
}

.store-banner a:hover {
    background-color: #222;
}










.link-btn {
    display: block;
    width: 121px;
    height: 34px;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.7s;
    border-style: solid;
    border-width: 2px;
}

.link-btn:hover {
    text-decoration: underline;
    color: white;
}